services:
  koktek-front:
    build: .
    container_name: koktek_front
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.koktek-front.rule=Host(`next.koktek.com`)"
      - "traefik.http.routers.koktek-front.entrypoints=websecure"
      - "traefik.http.routers.koktek-front.tls.certresolver=mytlschallenge"
    networks:
      - traefik-net

networks:
  traefik-net:
    external: true
    name: root_traefik-net
