name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 1. Récupération du code
        uses: actions/checkout@v2

      - name: 2. Préparer les infos de build
        run: |
          echo "VITE_BUILD_ID=${GITHUB_SHA}" >> $GITHUB_ENV
          echo "VITE_BUILD_DATE=$(date -u +%Y-%m-%dT%H:%M:%SZ)" >> $GITHUB_ENV
          printf "VITE_BUILD_MESSAGE<<EOF\n%s\nEOF\n" "$(git log -1 --pretty=%s)" >> $GITHUB_ENV

      - name: 3. Construction sur GitHub (Build)
        # On prépare le site ici, sur les serveurs de GitHub
        run: |
          npm install
          npm run build

      - name: 4. Nettoyage du VPS (Avant la copie)
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # On supprime TOUT le contenu de l'ancien dossier pour éviter les conflits
            # C'est le chemin validé par ton test de l'erreur 500
            rm -rf /root/koktek_front/dist/*
            echo "Ancien site supprimé. Le dossier est prêt."

      - name: 5. Envoi du nouveau site (SCP)
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "dist/*"
          target: "/root/koktek_front/dist/"
          strip_components: 1
          # strip_components: 1 permet de copier le CONTENU du dossier dist directement à la racine de la cible
