name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # 1. On va dans le NOUVEAU dossier qui existe enfin
            cd /root/koktek-front

            # 2. On met à jour le code
            git pull origin main

            # 3. On installe et on construit
            npm install
            npm run build

            # 4. On déploie dans le dossier public (Nettoyage + Copie)
            rm -rf /var/www/html/*
            cp -r dist/* /var/www/html/

            echo "Succès ! Site déployé depuis /root/koktek-front vers /var/www/html"
