name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 1. Récupération du code
        uses: actions/checkout@v2

      - name: 2. Construction du site (Sur GitHub, pas sur le VPS)
        run: |
          npm install
          npm run build

      - name: 3. Nettoyage du dossier actif (Via SSH)
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # On vide le dossier cible pour être sûr que c'est propre
            rm -rf /root/koktek_front/dist/*
            echo "Dossier /root/koktek_front/dist/ vidé."

      - name: 4. Envoi des fichiers (Via SCP)
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "dist/*"
          target: "/root/koktek_front/dist/"
          strip_components: 1
