name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # 1. On va dans le dossier DE TRAVAIL (celui qu'on a cloné proprement)
            cd /root/koktek-front

            # 2. On récupère le code et on construit
            git pull origin main
            npm install
            npm run build

            # 3. LA LIVRAISON VERS LE VRAI SITE (Celui avec le tiret bas _)
            echo "Déploiement vers le dossier actif /root/koktek_front..."

            # On vide le dossier dist actif (Attention à l'orthographe du dossier destination)
            rm -rf /root/koktek_front/dist/*

            # On copie le nouveau site construit vers le dossier actif
            cp -r dist/* /root/koktek_front/dist/

            echo "Succès ! Site mis à jour dans /root/koktek_front/dist/"
